/*
  ========================================
  header styles
  ========================================
*/
header {
  top: 0;
  position: fixed;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  background-color: white;
}

.logo {
  top: 0;
  height: 70px;
  width: 100%;
	background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 20px;
}

